@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #d9d9d9;
}

::selection,
::-moz-selection {
  background-color: #000;
  color: #fff;
}
